.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.text-capitalize {
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 10px;
  position: relative;
  color: rgb(182, 219, 17);
  text-transform: uppercase;
}

.fix-header {
  position: relative;
  bottom: 20px;
}

.black-color {
  background-color: black;
}

