.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

a {
  display: block;
}

.mat-nav-list a.active {
  background: rgb(80, 80, 240);
}
